.header {
  background: $reef-gradient;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;
}

.header__title {
  color: #fff;
  text-decoration: none;
  font-variant: small-caps;
}