.text-input {
  font-family: 'Roboto', sans-serif;
  border: 0.1rem solid #cacccd;
  height: 5rem;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
  border: none;
}

input {
  border: none;
}

.DateRangePickerInput {
  border: none !important;
}

.SingleDatePickerInput {
  border: none !important;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}