.list-header {
  box-shadow: 0 0 10px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.list-body {
  margin-bottom: 2rem;
  box-shadow: 0 0 20px black inset;
  background: $light-black;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: 3rem;
  }
}

.list-item {
  border-bottom: 1px solid black;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: $orange;
    background: -webkit-$orange-gradient;
    background: $orange-gradient;
    border-bottom: none;
    box-shadow: 0 0 10px black;

    .list-item__sub-title {
      color: black;
    }
  }
  
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
}

.list-item--message {
  align-items: center;
  color: rgb(173, 170, 170);
  justify-content: center;
  padding: 2rem;
  &:hover {
    background: none;
  }
}

.list-item__title {
  word-break: break-all;
}

.list-item__sub-title {
  color: grey;
  font-size: 1.4rem;
}

.list-item__data {
  margin: 1rem 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: 1rem;
  }
}