.page-header {
  background: #f7f7f7;
  margin-bottom: 2rem;
  padding: 5rem 0;

  &__actions {
    margin-top: 2rem;
  }
}

.page-header__title {
  font-weight: 300;

  span {
    font-weight: bold;
  }
}