.page-header {
  background: $light-black;
  margin-bottom: 2rem;
  padding: 5rem 0;
  color: #fff;
  
  box-shadow: 0 0 20px black inset;

  &__actions {
    margin-top: 2rem;
  }
}

.page-header__title {
  font-weight: 400;
  font-variant: small-caps;
  text-align: center;

  span {
    font-weight: bold;
  }
}

.page-header__title--summary {
  font-variant: normal;
  text-align: unset;
}