// Spacing
$xs-size: 0.7rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Colors
$orange: #ff9966;
$orange-gradient: linear-gradient(to right, #ff5e62, #ff9966);
$royal-blue: linear-gradient(to right, #243B55, #141E30);
$light-black: #29323c;
$reef-gradient: linear-gradient(to left, #9cecfb, #65c7f7, #0052d4);
$grey: #304352;
$blue: #141E30;
$light-blue: #00d2ff;

// Break-points
$desktop-breakpoint: 45rem;